<!DOCTYPE html>
  <html>
    <head>
      <title>TodoVue</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
      <%= csrf_meta_tags %>
    </head>
    <body>
      <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
            <div class="navbar-header">
              <nav-bar></nav-bar>
              <div class="panel-body">
                Checkout source on <a href="https://github.com/aleksacastle/todo_vue">Github</a> and the <a href="https://shrouded-caverns-88762.herokuapp.com/">Heroku</a>
              </div>
              <div class="jumbotron">
              <%= yield %>
            </div>
          </div>
        </div>
      </nav>

      <%= html_import_tag 'application'%>
      <%= javascript_include_tag 'application' %>
    </body>
</html>
