<!DOCTYPE html>
<html>
<head>
  <title>TodoVue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <div class="panel panel-default">
            <h3 class="panel-title">A Todo app built using Vue.js and Rails 4 and PostgreSQL</h3>
            <div class="panel-body">
              Checkout source on <a href="https://github.com/aleksacastle/todo_vue">Github</a> and the <a href="https://shrouded-caverns-88762.herokuapp.com/">Heroku</a>
            </div>
          </div>
        <div class="jumbotron">
          <%= yield %>
        </div>
      </div>
    </div>
  </nav>


<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= html_import_tag 'application'%>

</body>
</html>
